* {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
}

#main {
    max-width: 100vw;
}

#grid {
    display: grid;
    grid-template-columns: auto auto auto;
    /* grid-template-rows: auto auto; */
    text-align: center;
    gap: 1rem 1rem;
    margin: 0.5rem;
}

#navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url("img/navbn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 14px;
}
#navbar p {
    font-size: 2.5rem;
    color: white;
    text-align: end;
    padding: 2rem;
}

article {
    background-color: #7b97c2;
    border-radius: 14px;
    box-shadow: 2px 6px;
}

img {
    margin: 1rem;
    height: 250px;
    width: 350px;
    border-radius: 20%;
}

article h1 {
    font-size: 3rem;
    color: black;
}

article p {
    color: black;
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

article:hover {
    background-color: #607EAA;
}

#form {
    background-color: #A8A4CE;
    border-radius: 14px;
    box-shadow: 2px 6px;
    grid-column-start: 1;
    grid-column-end: 4;
}

#txtform {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

#form input {
    font-size: 1.5rem;
    font-weight: bold;
}

#form button {
    font-size: 1.5rem;
    font-weight: bolder;
}

#footer {
    background-color: #1C3879;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
}

#imgfooter {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#footerdiv {
    padding-left: 1rem;
    color: white;
}

@media only screen and (max-width: 800px) {

    #grid {
        grid-template-columns: auto auto;
    }

    #navbar {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #form {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #footer {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media only screen and (max-width: 550px) {

    #grid {
        grid-template-columns: auto;
    }

    #navbar {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #form {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #footer {
        grid-column-start: 1;
        grid-column-end: 2;
    }
}