* {
    font-family: 'Dancing Script', cursive;
    margin: 0;
    padding: 0;
}
#main {
    display: grid;
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-areas:
            'navbar navbar navbar'
            'galaxy system earth'
            'jwst ring fi'
            'form form form'
            'footer footer footer';
    grid-template-columns: 623px 623px 623px; 
    grid-template-rows: 200px 580px 580px 300px 200px;
    padding-left: 3px;
}





#navbar {
    grid-area: navbar;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("img/navbn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    box-shadow: 5px 10px;
}
#navbar p {
    font-size: 36px;
    color: white;
    text-align: end;
    padding: 50px 20px 50px 20px;
}





#galaxy {
    grid-area: galaxy;
    background-color: #5A8F7B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    box-shadow: 5px 10px;
}
#imggalaxy {
    margin: 10px;
    height: 250px;
    width: 500px;
    border-radius: 20%;
}
#galaxy h1 {
    font-size: 40px;
    color: white;
}
#galaxy p {
    color: white;
    font-size: 35px;
    text-align: center;
}
#galaxy:hover {
    background-color: darkcyan;
}







#system {
    grid-area: system;
    background-color: #607EAA;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    box-shadow: 5px 10px;
}
#imgsystem {
    height: 250px;
    width: 500px;
    border-radius: 20%;
}
#system h1 {
    font-size: 40px;
    color: white;
}
#system p {
    color: white;
    font-size: 35px;
    text-align: center;
}
#system:hover {
    background-color: darkcyan;
}





/* earth */
#earth {
    grid-area: earth;
    background-color: #5A8F7B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    box-shadow: 5px 10px;
}    
#imgearth {
    height: 250px;
    width: 500px;
    border-radius: 20%;
}
#earth h1 {
    font-size: 40px;
    color: white;
}
#earth p {
    color: white;
    font-size: 35px;
    text-align: center;
}
#earth:hover {
    background-color: darkcyan;
}







/* jwst */
#jwst {
    grid-area: jwst;
    background-color: #607EAA;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    box-shadow: 5px 10px;
}
#imgjwst {
    height: 250px;
    width: 500px;
    border-radius: 20%;
}
#jwst h1 {
    font-size: 40px;
    color: white;
}
#jwst p {
    color: white;
    font-size: 35px;
    text-align: center;
}
#jwst:hover {
    background-color: darkcyan;
}






/* ring */
#ring {
    grid-area: ring;
    background-color: #5A8F7B;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    box-shadow: 5px 10px;
}
#imgring {
    height: 250px;
    width: 500px;
    border-radius: 20%;
}
#ring h1 {
    font-size: 40px;
    color: white;
}
#ring p {
    color: white;
    font-size: 35px;
    text-align: center;
}
#ring:hover {
    background-color: darkcyan;
}








/* fi */
#fi {
    grid-area: fi;
    background-color: #607EAA;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    box-shadow: 5px 10px;
}
#imgfi {
    margin: 10px;
    height: 250px;
    width: 500px;
    border-radius: 20%;
}
#fi h1 {
    font-size: 40px;
    color: white;
}
#fi p {
    margin: 2px;
    color: white;
    font-size: 35px;
    text-align: center;
}
#fi:hover {
    background-color: darkcyan;
}







#form {
    grid-area: form;
    background-color: #A8A4CE;
    border-radius: 5%;
    box-shadow: 5px 10px;
}
#txtform {
    font-size: 20px;
    text-align: center;
    margin: 6px;
}





#footer {
    grid-area: footer;
    background-color: #1C3879;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 5px 10px;
}
#imgfooter {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}



@media only screen and (max-width:600px) {
    #main {
        grid-template-areas:
            'navbar navbar navbar'
            'galaxy galaxy galaxy'
            'system system system'
            'earth earth earth'
            'jwst jwst jwst'
            'ring ring ring'
            'fi fi fi'
            'form form form'
            'footer footer footer';
        grid-template-rows: 200px 500px 500px 500px 500px 500px 500px 500px 200px;    

           
    }

    #navbar {
        grid-area: navbar;
        width: 100%;

    }

    #galaxy {
        grid-area: galaxy;
        background-color: #607EAA;
        width: 100%;
     
    }

    #imggalaxy {
        padding: 8px;
    }

    #system {
        grid-area: system;
        background-color: #607EAA;
        width: 100%;
       
    }

    #imgsystem {
        padding: 8px;
    }

    #earth {
        grid-area: earth;
        background-color: #607EAA;
        width: 100%;
    }

    #imgearth {
        padding: 8px;
    }

    #jwst {
        grid-area: jwst;
        background-color:  #607EAA;
        width: 100%;
    }

    #imgjwst {
        padding: 8px;
    }

    #ring {
        grid-area: ring;
        background-color: #607EAA;
        width: 100%;
    }

    #fi {
        grid-area: fi;
        background-color: #607EAA;
        width: 100%;
    }

    #txtform {
        font-size: 50px;
    }

    #footer {
        grid-area: footer;
        background-color: #607EAA;
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
    }
    #footerdiv {
        padding-left: 8px;
        color: white;
    }

}